breeze/.vs
breeze/breeze/x64/Debug/breeze.vcxprojAssemblyReference.cache
breeze/breeze/x64/Debug/breeze.vcxprojAssemblyReference.cache
*.log
*.tlog
breeze/x64/Debug/breeze.exe
*.pdb
*.obj
*.cache
*.cache
breeze/x64/Debug/breeze.exe.metagen
breeze/breeze/x64/Debug/breeze.vcxproj.FileListAbsolute.txt
breeze/breeze/breeze.vcxproj.filters
breeze/breeze/breeze.vcxproj
breeze/breeze/breeze.vcxproj.user
